{% extends 'base.html.twig' %}

{% block title %}Turbo POC{% endblock %}

{% block body %}
    {# In order to use a Stimulus controller we have to activate it : stimulus_controller('modal') #}
    {# Else we could remove : stimulusFetch: 'lazy', from the controller #}
    <div class="modal-container" {{ stimulus_controller('modal') }}>
        <section>
            <button {{ stimulus_action('modal', 'toggleModal', 'click') }}>
                Add a task
            </button>
        </section>

        <dialog {{ stimulus_target('modal', 'dialog') }}>
            <article>
                <header>
                    <button aria-label="Close" rel="prev" {{ stimulus_action('modal', 'closeModal', 'click') }}></button>
                    <h2>Add a task</h2>
                </header>

                {% block task_form %}
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" {{ stimulus_action('modal', 'closeModal', 'click') }}>Valider</button>
                    {{ form_end(form) }}
                {% endblock %}
            </article>
        </dialog>
    </div>

    <div id="tasks">
        {% for task in tasks %}
            <article>
                <header>
                    {{ task.id }} - {{ task.title }}
                </header>

                <p>{{ task.description }}</p>
            </article>
        {% endfor %}
    </div>
{% endblock %}

{% block success_stream %}
    <turbo-stream action="replace" targets="form[name=task]">
        <template>
            {{ block('task_form') }}
        </template>
    </turbo-stream>

    <turbo-stream action="append" targets="#tasks">
        <template>
            <article>
                <header>
                    {{ task.id }} - {{ task.title }}
                </header>

                <p>{{ task.description }}</p>
            </article>
        </template>
    </turbo-stream>
{% endblock %}